.section{
    line-height: 1.5;
  
    /* position: relative; */
    /* min-height: 100vh; */
    /* height: 100%;
    min-height: 170vh; */
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    background-color: #000000;
   
    overflow: hidden;
   
@media (max-width: 480px){
    padding-inline: 1rem;
}
    
}
/* .black{
    height: 100%;
    min-height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    background-color: #000000;
} */
.picture{
    background-position: center center;

    background-size: cover;
    background-image: url("../../assets/Winnie1.JPG");
    opacity: 0.25;
    background-color: #000000;
    height: 100%;
    /* min-height: 170vh; */
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.main{

    @media (min-width: 750px) {
        width: 730px;
        margin-inline: auto;
    }
    margin-block: 5rem;
    padding: 30px;

    /* margin-inline: 20rem; */

  
    /* @media (max-width: 980px) {
        margin-inline: 5rem;
    }
    @media (max-width: 480px) {
        margin-inline: 1rem;
    } */

}
.heading{
    color: white;
}
.greet{
    font-size: 2.5rem;
    @media (max-width:480px) {
        font-size: 1.8rem;
    }
}
.plan{
 font-size: 1.5rem;
 text-transform: uppercase;
 font-weight: bold;
 padding-block: 1rem;
 
}
.sub{
font-size: 1.3125rem;

@media (max-width:480px) {
    font-size: 1rem;
}

}
.image{
    /* display: block; */
      /* max-width: 23.75rem; */
      margin-block-end: 4rem;
}
.image1{
    width: 23.75rem;
    /* width: 100%; */
    border-radius: 1rem;
    margin-block-start: 4rem;
    margin-block-end: 2rem;
    max-width: 100%;
}
.grids{
    /* margin-inline: 20rem;
    @media (max-width: 980px) {
        margin-inline: 5rem;
    }
    @media (max-width: 480px) {
        margin-inline: 1rem;
    } */
}

.fourImages{
    /* width: 26rem; */
    height: 12.25rem;
    max-height: 100%;
    width: 100%;
    border-radius: 16px;
    max-width: 100%;
    object-fit: cover;
    /* object-fit: contain; */
    object-position: center;

    @media (max-width:480px) {
        max-height: 10rem;
        height: 100%;
    }
   
}

.grid2{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    gap: 2rem;
    
}

.link{
    display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  min-height: 5rem;
  text-align: start!important;
}
.social{
    font-size: 1rem;
    color: #a6a6a7;
   
    @media (max-width:480px) {
        /* font-size: 1.3rem; */
    }
}