.section{
    line-height: 1.5;
    font-family: sans-serif;
    /* position: relative; */
    /* min-height: 100vh; */
    /* height: 100%;
    min-height: 170vh; */
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    background-color: #000000;
   
    overflow: hidden;

@media (max-width: 480px){
    padding-inline: 1rem;
}
    
}
/* .black{
    height: 100%;
    min-height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    background-color: #000000;
} */
.picture{
    background-position: center center;

    background-size: cover;
    background-image: url("../../assets/Winnie1.JPG");
    opacity: 0.25;
    background-color: #000000;
    height: 100%;
    /* min-height: 170vh; */
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.main{
    margin-block: 5rem;

    /* margin-inline: 20rem; */

    @media (max-width: 480px) {
        /* margin-inline: 1rem; */
    }
}
.heading{
    color: white;
}
.greet{
    font-size: 2.5rem;
}
.plan{
 font-size: 1.5rem;
}
.sub{
font-size: 1.3125rem;
}
image{
    display: block;
      max-width: 23.75rem;
}
.image1{
    width: 23.75rem;
    /* width: 100%; */
    border-radius: 1rem;
    margin-block: 5rem;
    max-width: 100%;
}
.grids{
    margin-inline: 10rem;
    @media (max-width: 920px) {
        margin-inline: 5rem;
    }
    @media (max-width: 480px) {
        margin-inline: 1rem;
    }
}

.fourImages{
    width: 26rem;
    height: 12.25rem;
    border-radius: 4px;
    max-width: 100%;
    object-fit: cover;
    /* object-fit: contain; */
    object-position: center;
}

.grid2{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    gap: 2rem;
}